ion-toolbar{
    --background:#000000a6;
    color: white;
  }
  ion-content{
    --background:#000000a6;
    color: white;
  }
  ion-item{
    --background:#00000000;
    color: white;
  }
  ion-icon{
      color: white;
  }