<ion-header translucent no-border>
  <ion-toolbar>
      <ion-title color="light">
        Profile
      </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" src="../../assets/img/checkmark-filled.svg"></ion-icon>
       </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
  <div *ngIf="!userData">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <br/>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <br/>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <br/>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <br/>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>
  </div>
  <div *ngIf="userData">
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img *ngIf="currentAccountInfo?.photoURL === ''" src="../../assets/img/player104.png" alt="">
          <img *ngIf="currentAccountInfo?.photoURL !== ''" [src]="currentAccountInfo?.photoURL" alt="">
        </div>
      </div>
      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3 class="playername">{{currentAccountInfo?.displayName}}</h3>
          <p>{{currentAccountInfo?.email}}</p>
           <h6 class="ranking">Favorites: <ion-chip>
              <ion-label>{{bookmarkedPosts?.length}}</ion-label>
            </ion-chip>
          </h6>
        <ion-button type="button" color="danger" expand="block" (click)="logout()">Logout</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
