ion-toolbar{
    --background:#000000a6;
    color: white;
  }
  ion-content{
    --background:#000000a6;
    color: white;
  }
  ion-item{
    --background:#000000a6;
    color: white;
  }
  .top-to-center{
    position: relative;
    top: 20%;
}